.management-panel {
    direction: rtl;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    padding: 1.6rem;

    border: 0.1rem solid #ccc;
    border-radius: 0.9rem;
    box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.1);

    &--title {
        font-size: 2.5rem;
        font-weight: bold;
    }

    &__polygon-list {
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        height: 20rem;

        padding-left: 1rem;

        @include special_scroller-settings;
    }
}