@mixin special_scroller-settings {
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #b4b4b4;
        border-radius: 10px;
        border: 2px solid transparent;
        background-clip: padding-box;

        &:hover {
            background-color: #a5a5a5;
            border: 2px solid transparent;
        }
    }

    &::-webkit-scrollbar-track {
        background-color: #f0f0f0;
        border-radius: 15px;
    }
}

@mixin overflow-elipsis {
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}