.polygon-panel {
    direction: rtl;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    padding: 1.6rem;

    border: 0.1rem solid #ccc;
    border-radius: 0.9rem;
    box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.1);

    &--title {
        font-size: 2.5rem;
        font-weight: bold;
    }

    &__controls {
        display: flex;
        gap: 1.9rem;
        margin-bottom: 1.6rem;

        $padding-top-bottom: 0.6rem;

        &--description {
            align-self: center;
            color: #333;
            font-size: 2rem;
            font-weight: bold;
        }

        &__input {
            width: 20rem;
            padding: $padding-top-bottom 0.8rem;

            border-radius: 0.4rem;
            border: 0.2rem solid #ccc;
            font-size: 2rem;
            outline: none;
            transition: all 0.2s ease-out;

            &:focus {
                border-color: #008cba;
                box-shadow: 0 0 5px rgba(0, 140, 186, 0.5);
            }
        }

        &__btn {
            padding: $padding-top-bottom 1.2rem;

            color: #fff;
            border: none;
            border-radius: 0.4rem;
            cursor: pointer;
            transition: background-color 0.2s, transform 0.1s;

            &:active {
                transform: scale(0.98);
            }

            &:disabled {
                background-color: #ccc;
                cursor: not-allowed;

                &:hover,
                &:active {
                    background-color: #ccc;
                }
            }

        }

        &__mark-coordinates-btn {
            background-color: #008cba;

            &:hover {
                background-color: #007bb5;
            }

            &:active {
                background-color: #006a99;
            }
        }

        &__create-btn {
            background-color: #4caf50;

            &:hover {
                background-color: #45a049;
            }

            &:active {
                background-color: #3e8e41;
            }
        }
    }

    &__polygon-list {
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        height: 20rem;

        padding-left: 1rem;

        @include special_scroller-settings;

        
    }
}